<!DOCTYPE html>
<th:block th:replace="~{ fragment/layout :: layout(~{::content}) }">

  <th:block th:fragment="content">


    <div class="mb-3">


      <form th:action="@{ /request/{id}/{action} (id=${id}, action=${action})}" method="post">
        <label for="justification">
          <h1>Justify the refusal</h1>
        </label>
        <textarea class="form-control" name="justification" id="justification"></textarea>
        <div class="mb-3">
          <button class="btn btn-success" type="submit">confirm</button>
          <a th:href="@{/request/{id} (id=${id})}">
            <button class="btn btn-danger" type="button">cancel</button>
          </a>
        </div>
      </form>
    </div>
  </th:block>

</th:block>