<!DOCTYPE html>
<th:block th:replace="~{ fragment/layout :: layout( ~{ :: content } ) }">

  <th:block th:fragment="content">



    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" th:class="${active_status} == 'PENDING' ? 'nav-link active' : 'nav-link'" href="/request/PENDING">PENDING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:class="${active_status} == 'RELOCATING' ? 'nav-link active' : 'nav-link'" href="/request/RELOCATING">RELOCATING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:class="${active_status} == 'ACCEPTED' ? 'nav-link active' : 'nav-link'" href="/request/ACCEPTED">ACCEPTED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:class="${active_status} == 'REFUSED' ? 'nav-link active' : 'nav-link'" href="/request/REFUSED">REFUSED</a>
      </li>
    </ul>

    <h1 th:text="|${active_status} requests|"></h1>

    <table class="table">

      <thead>
        <tr>
          <td>made by</td>
          <td>Begins at</td>
          <td>Ends at</td>
          <td>capacity need</td>
          <td th:if="${active_status} == 'ACCEPTED'">room</td>
          <td>actions</td>
        </tr>
      </thead>
      <tbody>

        <tr th:each="request : ${requests}" th:object="${request}">
          <td th:text="*{madeBy}">made by</td>
          <td th:text="|*{date} *{beginTime}|">Begins at</td>
          <td th:text="|*{date} *{endTime}|">Ends at</td>
          <td th:text="*{neededCapacity}">capacity need</td>
          <td th:if="${active_status} == 'ACCEPTED'"  th:text="*{roomNumber}">room</td>
          <td class="row-actions">

            <a th:href="@{ /request/{id} (id=*{id})}">
              <button class="btn btn-primary" type="submit">details</button>
            </a>

          </td>
        </tr>

      </tbody>

    </table>

  </th:block>

</th:block>