<!DOCTYPE html>
<th:block th:replace="~{ fragment/layout :: layout(~{ :: content }) }">

  <th:block th:fragment="content" th:object="${request}">

    <h2>Request details</h2>

    <div class="row">
      <div class="col" th:if="*{currentStatus == 'PENDING' && currentStatus != 'REALLOCATE'}">
        <a th:href="@{/request/{id}/accept (id=${id})}">
          <button class="btn btn-primary status-btn">CHOOSE ROOM</button>
        </a>
      </div>
      <div class="col" th:if="*{currentStatus == 'ACCEPTED'}">
        <a href="">
          <button class="btn btn-primary status-btn">REALLOCATE</button>
        </a>
      </div>
      <div class="col" th:if="*{currentStatus == 'PENDING' || currentStatus == 'RELOCATING'}">
        <a th:href="@{ /request/{id}/refuse (id=*{id})}">
          <button class="btn btn-primary status-btn">REFUSE</button>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div>
            <h3 class="data-title">made by</h3>
            <p class="data-info" th:text="*{madeBy}"></p>
          </div>

          <div>
            <h3 class="data-title">begin at</h3>
            <p class="data-info" th:text="*{beginAt}"></p>
          </div>

          <div>
            <h3 class="data-title">end at</h3>
            <p class="data-info" th:text="*{endAt}"></p>
          </div>

          <div>
            <h3 class="data-title">justification</h3>
            <p class="data-info" th:text="*{justification}"></p>
          </div>

          <div>
            <h3 class="data-title">needed capacity</h3>
            <p class="data-info" th:text="*{neededCapacity}"></p>
          </div>

          <div th:if="*{additionalNotes != null}">
            <h3 class="data-title">additional notes</h3>
            <p class="data-info" th:text="*{additionalNotes}"></p>
          </div>

          <div th:if="*{room != null}">

          </div>
        </div>
        <div class="col-6">
            <h3>Status history</h3>

            <div class="status-change mb-3" th:each="status_change : *{statusHistory}">
              <div class="card" th:object="${status_change}">
                <div class="card-header">
                  <h4 th:text="*{status}"></h4>
                </div>
                <div class="card-body">
                  <div>
                    <h6 class="data-title">change justification</h6>
                    <p class="data-info" th:text="*{justification}"></p>
                  </div>
                  <div>
                    <h6 class="data-title">changed at</h6>
                    <p class="data-info" th:text="*{createdAt}"></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  </th:block>

</th:block>