<!DOCTYPE html>
<html lang="en" th:replace="~{ fragment/layout :: layout(~{ :: content }) }">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="content">

        <form action="/request/new" th:object="${form}" method="post">
            <div class="mb-3">
                <label for="userLogin" class="form-label">User Login:</label>
                <input type="text" id="userLogin" th:field="*{userLogin}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="justification" class="form-label">Justification:</label>
                <input type="text" id="justification" th:field="*{justification}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="neededCapacity" class="form-label">Needed capacity:</label>
                <input type="text" id="neededCapacity" th:field="*{neededCapacity}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date:</label>
                <input type="date" id="date" th:field="*{date}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="beginAt" class="form-label">Begin At:</label>
                <input type="time" id="beginAt" th:field="*{beginAt}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="endAt" class="form-label">End At:</label>
                <input type="time" id="endAt" th:field="*{endAt}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="materialIds" class="form-label">Material Ids:</label>
                <select multiple="multiple" id="materialIds" th:field="*{materialIds}" class="form-select">
                    <option th:each="mat : ${materials}" th:text="${mat.name}" th:value="${mat.id}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="additionalNotes">Additional Notes:</label>
                <textarea id="additionalNotes" th:field="*{additionalNotes}" class="form-control"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </th:block>

</body>
</html>