.inline-form {
    display: inline;
}

.row-actions {
    padding: 0 !important;
    padding-top: 6px !important;
}

.row-actions .btn {
    padding: 2px;
    width: 100px;
    border-radius: 4px;
}

header {
    margin-bottom: 15px;
}

.status-btn {
    width: 100%;
}