<!doctype html>
<th:block th:replace="~{ fragment/layout :: layout( ~{ :: content }) }">

    <th:block th:fragment="content">

        <h1> Welcome on MateriAlloc </h1>

        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quidem!</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aperiam aspernatur aut blanditiis cum dignissimos doloremque ex in iste laudantium, neque nisi nobis numquam obcaecati odit pariatur perferendis provident quis reprehenderit saepe sapiente sunt suscipit tempora ut vero? Eum, praesentium.</p>

        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quidem!</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aperiam aspernatur aut blanditiis cum dignissimos doloremque ex in iste laudantium, neque nisi nobis numquam obcaecati odit pariatur perferendis provident quis reprehenderit saepe sapiente sunt suscipit tempora ut vero? Eum, praesentium.</p>

    </th:block>

</th:block>